{% include 'social_media_base.html' %}
{% load static %}

{% block head %}
<title>Nearby Ngo & People</title>
{% endblock %}

{% block body %}

<!-- 404 Error
================================================= -->
<div class="error-page">
    <div class="error-content">
        <div class="container">
            <img src="{% static 'social_media/images/404.png' %}" alt="" class="img-responsive"/>
            <div class="error-message">
                <h1 class="error-title">Whoops!</h1>
                <p>Looks like you are lost. But don't worry there is plenty to see!!</p>
            </div>
            <form class="search-form">
                <div class="form-group">
                    <label for="search_content">Search Content!</label>
                    <input id="search_content" type="text" class="form-control" value=""
                           placeholder="Search what you want to find...">
                </div>
                <button type="submit" class="btn btn-primary">Search Now!</button>
            </form>
        </div>
    </div>
</div>


{% include 'social_media_footer.html' %}
<!--&lt;!&ndash;preloader&ndash;&gt;-->
<!--<div id="spinner-wrapper">-->
<!--<div class="spinner"></div>-->
<!--</div>-->

{% endblock %}