{% include 'social_media_base.html' %}
{% load static %}

{% block head %}
<title>Edit Profile Info</title>
<script type="text/javascript" src="{% static 'js/date-time-picker.min.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover">
            <form id="edit_profile_form" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <label for="profile_pic_id">
                         <img id="profile_image_id" title="Click image to edit" src="{{ user_info_edit.profile_image }}" alt="" class="img-responsive profile-photo"/>
                        </label>

                        <input id="profile_pic_id" name="profile_pic" style="display:none" type="file" value="{{ user_info_edit.profile_image }}" />

                            <h3>{{user_info_edit.user.first_name}}</h3>
                            <p class="text-muted">{{user_info_edit.profile_bio}}</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a href="{% url 'user_timeline' user_id=username %}">Timeline</a></li>
                            <li><a href="{% url 'user_timeline_about' user_id=user_info_edit.user.username %}" class="active">About</a></li>
                            <li><a href="{% url 'connected_ngo_people' user_id=user_info_edit.user.username %}">Friends</a></li>
                        </ul>
                        <ul class="follow-me list-inline">
                            <li>1,299 people following her</li>
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->

            <!--Timeline Menu for Small Screens-->
            <div class="navbar-mobile hidden-lg hidden-md">

                <div class="profile-info">
                    <img src="images/users/user-1.jpg" alt="" class="img-responsive profile-photo"/>
                    <h4>Sarah Cruiz</h4>
                    <p class="text-muted">Creative Director</p>
                </div>
                <div class="mobile-menu">
                    <ul class="list-inline">
                        <li><a href="timline.html">Timeline</a></li>
                        <li><a href="timeline-about.html" class="active">About</a></li>
                        <li><a href="timeline-album.html">Album</a></li>
                        <li><a href="timeline-friends.html">Friends</a></li>
                    </ul>
                    <button class="btn-primary">Add Friend</button>
                </div>
            </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
            <div class="row">



                <div class="col-md-3">

                    <!--Edit Profile Menu-->
                    <ul class="edit-menu">
                        <li id="basic_info" class="active li_class_edit" onclick="change_edit_div(this.id)"><i class="icon ion-ios-information-outline"></i><a
                                class="edit_section_class" >Basic Information</a></li>
                        <li id="my_interest" class="li_class_edit" onclick="change_edit_div(this.id)"><i class="icon ion-ios-heart-outline"></i><a class="edit_section_class">My
                            Interests</a></li>
                        <li id="account_setting" class="li_class_edit" onclick="change_edit_div(this.id)"><i class="icon ion-ios-settings"></i><a class="edit_section_class">Account
                            Settings</a></li>
                        <li id="change_password" class="li_class_edit" onclick="change_edit_div(this.id)"><i class="icon ion-ios-locked-outline"></i><a class="edit_section_class">Change
                            Password</a></li>
                    </ul>
                </div>

                    <div id="basic_info_edit_div">
                        <div class="col-md-7">
                    <!-- Basic Information
                    ================================================= -->
                    <div class="edit-profile-container">
                        <div class="block-title">
                            <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Edit basic information
                            </h4>
                            <div class="line"></div>
                            <p>Sankalp is online web platform for donation for someone who need the most, also social
                                media
                                for the better interaction between NGO & Contributor.</p>
                            <div class="line"></div>
                        </div>
                        <div class="edit-block">



                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label for="first_name">First name</label>
                                            <input id="first_name" class="form-control input-group-lg" type="text"
                                                   name="first_name" title="Enter first name" placeholder="First name"
                                                   value="{{user_info_edit.user.first_name}}"/>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <label for="last_name" class="">Last name</label>
                                            <input id="last_name" class="form-control input-group-lg" type="text"
                                                   name="last_name" title="Enter last name" placeholder="Last name"
                                                   value="{{user_info_edit.user.last_name}}"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label for="dob_date" class="sr-only">Date Of Birth</label>
                                            <input id="dob_date" class="form-control input-group-lg" type="text"
                                                   name="dob_date" title="Update date of birth"
                                                   placeholder="Date of birth" value='{{user_info_edit.dob |date:"Y-m-d" }}'/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="email">My email</label>
                                            <input id="email" class="form-control input-group-lg" type="text"
                                                   name="Email"
                                                   title="Email will not changed" placeholder="My Email"
                                                   value="{{user_info_edit.user.email}}" readonly/>
                                        </div>
                                    </div>


                                    <div class="form-group gender">
                                        <span class="custom-label"><strong>I am a: </strong></span>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="male" {% if user_info_edit.gender == "male" %} checked {% endif %}>Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="female" {% if user_info_edit.gender == "female" %} checked {% endif %}>Female
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label for="city"> My city</label>
                                            <input id="city" class="form-control input-group-lg" type="text" name="city"
                                                   title="Update city" placeholder="Your city"
                                                   value="{{user_info_edit.city}}"/>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <label for="country">My country</label>
                                            <select class="form-control" id="country" name="country">
                                                {% if user_info_edit.country == 'India' %}
                                                <option value="India" selected>India</option>
                                                <option value="United States">United States</option>
                                                {% else %}
                                                <option value="United States" selected>United States</option>
                                                <option value="India">India</option>
                                                {% endif %}

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="my-info">About me</label>
                                            <textarea id="my-info" name="information" class="form-control" title="Enter profile bio"
                                                      placeholder="Some texts about me" rows="4" cols="400"> {{user_info_edit.profile_bio}}
                        </textarea>
                                        </div>
                                    </div>
<button class="btn btn-primary" type="submit">Save Changes</button>
                                </div>



                        </div>
                    </div>
                    </div>
                            <div id ="my_interest_edit_div" style="display:none">
                                    <div class="col-md-7">

              <!-- Edit Interests
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
                  <div class="line"></div>
                  <p>Sankalp is online web platform for donation for someone who need the most, also social media for the better interaction between NGO & Contributor.</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <ul class="list-inline interests">
                  	<li><a href="#"><i class="icon ion-android-bicycle"></i> Bycicle</a></li>
                  	<li><a href="#"><i class="icon ion-ios-camera"></i> Photgraphy</a></li>
                  	<li><a href="#"><i class="icon ion-android-cart"></i> Shopping</a></li>
                  	<li><a href="#"><i class="icon ion-android-plane"></i> Traveling</a></li>
                  	<li><a href="#"><i class="icon ion-android-restaurant"></i> Eating</a></li>
                  </ul>
                  <div class="line"></div>
                  <div class="row">
                    <p class="custom-label"><strong>Add interests</strong></p>
                    <div class="form-group col-sm-8">
                      <input id="add-interest" class="form-control input-group-lg" type="text" name="interest" title="Choose Interest" placeholder="Interests. For example, photography"/>
                    </div>
                    <div class="form-group col-sm-4">
                      <button class="btn btn-primary">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                                </div>
                                <div id="account_setting_edit_div" style="display:none">
                                <div class="col-md-7">

              <!-- Profile Settings
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-settings"></i>Account Settings</h4>
                  <div class="line"></div>
                  <p>Sankalp is online web platform for donation for someone who need the most, also social media for the better interaction between NGO & Contributor.</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <div class="settings-block">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="switch-description">
                          <div><strong>Enable follow me</strong></div>
                          <p>Enable this if you want people to follow you</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="toggle-switch">
                          <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="settings-block">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="switch-description">
                          <div><strong>Send me notifications</strong></div>
                          <p>Send me notification emails my friends like, share or message me</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="toggle-switch">
                          <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="settings-block">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="switch-description">
                          <div><strong>Text messages</strong></div>
                          <p>Send me messages to my cell phone</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="toggle-switch">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="settings-block">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="switch-description">
                          <div><strong>Enable tagging</strong></div>
                          <p>Enable my friends to tag me on their posts</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="toggle-switch">
                          <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="settings-block">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="switch-description">
                          <div><strong>Enable sound</strong></div>
                          <p>You'll hear notification sound when someone sends you a private message</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="toggle-switch">
                          <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


                                </div>
                                <div id="change_password_edit_div" style="display:none">
                                    <div class="col-md-7">

              <!-- Change Password
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Change Password</h4>
                  <div class="line"></div>
                  <p>Sankalp is online web platform for donation for someone who need the most, also social media for the better interaction between NGO & Contributor.</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <form name="update-pass" id="education" class="form-inline">
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="my-password">Old password</label>
                        <input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Old password"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label>New password</label>
                        <input class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="New password"/>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Confirm password</label>
                        <input class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Confirm password"/>
                      </div>
                    </div>
                    <p><a href="#">Forgot Password?</a></p>
                    <button class="btn btn-primary">Update Password</button>
                  </form>
                </div>
              </div>
            </div>
                                </div>
                </form>
                <div class="col-md-2 static">

                    <!--Sticky Timeline Activity Sidebar-->
                    <div id="sticky-sidebar">
                        <h4 class="grey">{{user_info_edit.user.first_name}}'s activity</h4>
                        <h5 class="grey">{{user_info_edit.user.first_name}} have no activity</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'social_media_footer.html' %}

<script>


    $(document).ready(function(){
        $("#dob_date").dateTimePicker();
        $("#yof_date").dateTimePicker();
    });

    function change_edit_div(id_arg){
         $("#basic_info_edit_div").hide();
         $("#my_interest_edit_div").hide();
         $("#change_password_edit_div").hide();
         $("#account_setting_edit_div").hide();
        var target_id = '#'+id_arg+"_edit_div";
        console.log(target_id);
        $('.li_class_edit').removeClass("active");
        $('#'+id_arg).addClass("active");
        $(target_id).show();

    }

function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#profile_image_id').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#profile_pic_id").change(function() {
  readURL(this);
});

</script>

{% endblock %}
