{% include 'social_media_base.html' %}
{% load static %}

{% block head %}
<title>News Feed | News Activity</title>
{% endblock %}

{% block body %}


<!-- Page Title Section
================================================= -->
<div class="page-title-section faq">
    <div class="container">
        <div class="headline">
            <h1 class="title">How Can We Help You?</h1>
        </div>
        <div class="page-search">
            <form class="search-form">
                <div class="form-group">
                    <label for="search_content" class="screen-reader-text">Search Content!</label>
                    <input id="search_content" type="text" class="form-control" value=""
                           placeholder="Search what you want to find...">
                </div>
                <button type="submit" class="btn btn-primary" value=""><i class="icon ion-ios-search-strong"></i>
                </button>
            </form>
        </div>
    </div>
</div><!-- .page-header faq -->

<div id="page-contents">
    <div class="container ">

        <!-- FAQ Menu
        ================================================= -->
        <ul class="nav nav-tabs faq-cat-list">
            <li class="active"><a href="#faq_cat_1" data-toggle="tab"><i class="icon ion-ios-information-outline"></i>General</a>
            </li>
            <li><a href="#faq_cat_2" data-toggle="tab"><i class="icon ion-ios-person"></i>Account</a></li>
            <li><a href="#faq_cat_3" data-toggle="tab"><i class="icon ion-eye-disabled"></i>Privacy</a></li>
            <li><a href="#faq_cat_4" data-toggle="tab"><i class="icon ion-ios-plus-outline"></i>Other</a></li>
        </ul><!-- .faq-cat-list -->

        <div class="row">
            <div class="col-sm-9">

                <!-- FAQ Content
                ================================================= -->
                <div class="tab-content faq-content">

                    <!-- FAQ Category Content : General -->
                    <div class="tab-pane active" id="faq_cat_1">
                        <div class="faq-headline">
                            <h3 class="item-title grey"><i class="icon ion-ios-information-outline"></i>General
                                Questions</h3>
                            <p>Sankalp is a centralized and online platform for NGO donation, payment gateway for
                                donation
                                this also includes a dedicated social media for better awareness.This will help the poor
                                and person who is in need.</p>
                        </div>
                        <div class="panel-group" id="faqAccordion-1">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed"
                                     data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question1">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: What is Sankalp
                                        ?</a></h4>
                                </div>
                                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Sankalp is online web platform for donation for someone who need the most,
                                            where we can donate money as well as goods
                                            also there is social media platform for the better interaction between NGO &
                                            Contributor.
                                        </p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question2">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Why do we use
                                        it?</a></h4>
                                </div>
                                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>It is a long established fact that a contributor will be finding for a
                                            centralized solution for such kind of activity.As a human we if we are
                                            capable then we are supposed to donate</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question3">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Where does it
                                        come from?</a></h4>
                                </div>
                                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>From a deep humanity to help someone who need it the most, I individually
                                            who are increasingly trying to help poor peoples with my intention &
                                            knowledge</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->

                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question5">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Who uses
                                        Sankalp
                                        ?</a></h4>
                                </div>
                                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>A person who are willing to contribute for better society and peoples who
                                            need it through NGO can use Sankalp platform. There may exist large pool of
                                            NGO organization as well as contributors.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question6">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: When they use
                                        it?</a></h4>
                                </div>
                                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Sankalp is web application, people can use in web browser for free.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->

                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-1" data-target="#question8">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Why people love
                                        this?</a></h4>
                                </div>
                                <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>We belief donating for a cause is such a good humanity and thinking with that
                                            perspective we created a platform to help people for their help, their
                                            better health condition.This will provide some inner piece for
                                            contributor.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                        </div><!-- .panel-group -->
                    </div><!-- #faq_cat_1 -->

                    <!-- FAQ Category Content : Account -->
                    <div class="tab-pane" id="faq_cat_2">
                        <div class="faq-headline">
                            <h3 class="item-title grey"><i class="icon ion-ios-person"></i>Account</h3>
                            <p>Sankalp is a centralized and online platform for NGO donation, payment gateway for
                                donation
                                this also includes a dedicated social media for better awareness.This will help the poor
                                and person who is in need.</p>
                        </div>
                        <div class="panel-group" id="faqAccordion-2">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed"
                                     data-toggle="collapse" data-parent="#faqAccordion-2" data-target="#question9">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Account is
                                        Locked?</a></h4>
                                </div>
                                <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Account is locked or blocked in some cases like posting video/text/image that
                                            violates the Article 21 of the Constitution provides, "No person shall be
                                            deprived of his life or personal liberty except according to procedure
                                            established by law", in this case admin has full right to block contributor or NGO account.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-2" data-target="#question10">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Change
                                        Password?</a></h4>
                                </div>
                                <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p></p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-2" data-target="#question11">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: How to Delete
                                        Account?</a></h4>
                                </div>
                                <div id="question11" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                        </div><!--.panel-group-->
                    </div><!-- #faq_cat_2 -->

                    <!-- FAQ Category Content : Privacy -->
                    <div class="tab-pane" id="faq_cat_3">
                        <div class="faq-headline">
                            <h3 class="item-title grey"><i class="icon ion-eye-disabled"></i>Privacy FAQ</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi</p>
                        </div>
                        <div class="panel-group" id="faqAccordion-3">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed"
                                     data-toggle="collapse" data-parent="#faqAccordion-3" data-target="#question12">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Why Privacy is
                                        Important?</a></h4>
                                </div>
                                <div id="question12" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle collapsed question-toggle"
                                     data-toggle="collapse" data-parent="#faqAccordion-3" data-target="#question13">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: Why Should I
                                        care?</a></h4>
                                </div>
                                <div id="question13" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                        </div><!--.panel-group-->
                    </div><!-- #faq_cat_2 -->

                    <!-- FAQ Category Content : Other -->
                    <div class="tab-pane" id="faq_cat_4">
                        <div class="faq-headline">
                            <h3 class="item-title grey"><i class="icon ion-ios-plus-outline"></i>Other FAQ</h3>
                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                                nobis est eligendi optio cumque nihil impedit quo minus id quod</p>
                        </div>
                        <div class="panel-group" id="faqAccordion-4">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed"
                                     data-toggle="collapse" data-parent="#faqAccordion-4" data-target="#question14">
                                    <h4 class="panel-title"><a href="javascript:void(0);" class="ing">Q: What are Other
                                        Questions?</a></h4>
                                </div>
                                <div id="question14" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
                                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                                            cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                                            maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
                                            repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                                            necessitatibus</p>
                                    </div>
                                </div>
                            </div><!-- .panel -->
                        </div><!--.panel-group-->
                    </div><!-- #faq_cat_2 -->

                </div>
            </div>
            <div class="col-sm-3">
                <div class="faq_contact">
                    <div class="faq-headline">
                        <h3 class="item-title grey"><i class="icon ion-ios-help-outline"></i>Still Confused?</h3>
                        <p>Contact us if you still have any question.</p>
                    </div>
                    <div class="reach-out">
                        <div class="method by-forum"><a href="#"><i class="icon ion-chatboxes"></i>Ask in Forum</a>
                        </div>
                        <div class="method by-ticket"><a href="#"><i class="icon ion-help-circled"></i>Send Ticket</a>
                        </div>
                        <div class="method by-email"><a href="#"><i class="icon ion-email"></i>Email us</a></div>
                        <div class="method by-phone"><a href="#"><i class="icon ion-android-call"></i>Call us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'social_media_footer.html' %}
<!--&lt;!&ndash;preloader&ndash;&gt;-->
<!--<div id="spinner-wrapper">-->
<!--<div class="spinner"></div>-->
<!--</div>-->

{% endblock %}