{% include 'social_media_base.html' %}
{% load static %}

{% block head %}
<title>News Feed | News Activity</title>
{% endblock %}

{% block body %}

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover">

            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <a href="{% url 'user_timeline' user_id=user_data.user.username %}">
                                <img id="profile_pic_id" src="{{ user_data.profile_image}}" alt=""
                                     class="img-responsive profile-photo"/></a>


                        </div>
                    </div>
                    <div class="col-md-9">

                        <ul class="list-inline profile-menu">
                            <li><a href="{% url 'user_timeline' user_id=user_data.user.username %}" class="active">Timeline</a></li>
                            <li><a href="{% url 'user_timeline_about' user_id=user_data.user.username %}">About</a></li>
                            <li><a href="{% url 'connected_ngo_people' user_id=user_data.user.username %}">Friends</a></li>
                        </ul>
                        <ul class="follow-me list-inline">
                            {% if con_status == 'edit' %}
                            <li>
                                <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
                                <!--<button onclick="{% url 'edit_profile' %}">Edit Profile</button>-->
                            </li>
                            {% else %}

                            <li>
                                <button class="btn-primary">Add Connection</button>
                            </li>

                            {% endif %}


                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->

            <!--Timeline Menu for Small Screens-->
            <div class="navbar-mobile hidden-lg hidden-md">
                <div class="profile-info">
                    <img src="{{ user_data.profile_image}}" alt=""
                         class="img-responsive profile-photo"/>
                    <h4></h4>
                    <p class="text-muted"></p>
                </div>
                <div class="mobile-menu">
                    <ul class="list-inline">
                        <li><a href="" class="active">Timeline</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Album</a></li>
                        <li><a href="">Friends</a></li>
                    </ul>
                    <button class="btn-primary">Add Friend</button>
                </div>
            </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <!--- including dynamic different content --->

                {% if timeline_section == 'home' %}
                {% include 'timeline_post.html' %}
                {% elif timeline_section == 'about' %}
                {% include 'timeline_about.html' %}
                {% elif timeline_section == 'connected_people' %}
                {% include 'connected_ngo_people.html' %}
                {% endif %}

                <div class="col-md-2 static">
                    <div id="sticky-sidebar">
                        <h4 class="grey">{{user_data.user.first_name}}'s activity</h4>
                        <h5>No user activity available</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'social_media_footer.html' %}
<!--&lt;!&ndash;preloader&ndash;&gt;-->
<!--<div id="spinner-wrapper">-->
<!--<div class="spinner"></div>-->
<!--</div>-->


{% endblock %}