{% load static %}
{% load humanize %}
<div class="col-md-7">

    {% ifequal user_data.user.username username %}
        <!-- Post Create Box
    ================================================= -->
    <div class="create-post">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="form-group">
                    <img src="{{ user_data.profile_image}}" alt=""
                         class="profile-photo-md"/>
                    <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control"
                              placeholder="Write what you wish"></textarea>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="tools">
                    <ul class="publishing-tools list-inline">
                        <li><a href="#"><i class="ion-compose"></i></a></li>
                        <li><a href="#"><i class="ion-images"></i></a></li>
                        <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                        <li><a href="#"><i class="ion-map"></i></a></li>
                    </ul>
                    <button class="btn btn-primary pull-right">Publish</button>
                </div>
            </div>
        </div>
    </div><!-- Post Create Box End-->

    {% endifequal %}


    {% if user_post_list %}
    <center><h4>{{user_data.user.first_name}} {{user_data.user.last_name}} 's Timeline</h4></center>

    {% else %}
        <center><h4>{{user_data.user.first_name}} {{user_data.user.last_name}} Haven't Posted Anything <i class="em em-blush"></i> </h4></center>

    {% endif %}
    {% for user_post in user_post_list %}

    <!-- Post Content
   ================================================= -->
    <div class="post-content">

        <!--Post Date-->
        <div class="post-date hidden-xs hidden-sm">
            <h5>{{user_data.user.first_name}} {{user_data.user.last_name}}</h5>
            <p class="text-grey">{{user_post.updated | naturaltime}}</p>
        </div><!--Post Date End-->

        {% if user_post.post_image %}
        <img src="{{ user_post.post_image}}" alt="post-image"
             class="img-responsive post-image"/>

        {% endif %}

        {% if user_post.post_video %}
        <div class="video-wrapper">
            <video class="post-video" controls="">
                <source src="{{user_post.post_video}}" type="video/mp4">
            </video>
        </div>

        {% endif %}

        <div class="post-container">
            <img src="{{user_post.posted_by.profile_image}}" alt="user"
                 class="profile-photo-md pull-left"/>
            <div class="post-detail">
                <div class="user-info">
                    <h5><a href="timeline.html"
                           class="profile-link">{{user_post.posted_by.user.first_name}}</a></h5>
                    <p class="text-muted">{{user_post.updated | naturaltime}}</p>
                </div>
                <div class="reaction">
                    <a class="btn text-blue"><i class="fa fa-share"></i>
                        {{user_post.dislike_count}}</a>
                    <a class="btn text-green"><i class="icon ion-thumbsup"></i>{{user_post.like_count}} </a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i>
                        {{user_post.dislike_count}}</a>
                </div>
                <div class="line-divider"></div>
                <div class="post-text">
                    <p>{{user_post.post_description}}</p>
                </div>
                <div class="line-divider"></div>
                <div class="post-comment">
                    <img src="{{ user_data.profile_image}}" alt=""
                         class="profile-photo-sm"/>
                    <input type="text" class="form-control" placeholder="Post a comment">
                </div>

            </div>
        </div>
    </div>

    {% endfor %}

</div>
