{% include 'base.html' %}
{% load static %}
{% block body %}

<div class="container about_us_main_div">

    <div class="thumbnail container row about_us_div_class">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="container row">
                <h5><i title="Name" class="material-icons md-48 div_icon_cl" style="font-size: 20px;color:#1dc9cb">person</i>
                    Aalok Kumar Yadav</h5>
            </div>
            <div class="container row">


                <h5><i title="Education" class="material-icons md-48 div_icon_cl" style="font-size: 20px;color:#1dc9cb">school</i>
                    &nbsp;IIIT Vadodara</h5>
            </div>
            <div class="row">
                <h5 style="margin-left:3%;"> Interest</h5>
                <div class="col-lg-1 col-md-1 interest_icon_class">
                    <i title="Programming" class="material-icons md-48 div_icon_cl"
                       style="font-size: 20px;color:#1dc9cb">code</i>
                </div>

                <div class="col-lg-1 col-md-1 interest_icon_class">
                    <i title="Pet Loving" class="material-icons md-48 div_icon_cl"
                       style="font-size: 20px;color:#1dc9cb">pets</i>

                </div>
                <div class="col-lg-1 col-md-1 interest_icon_class">
                    <i title="Watching Movie" class="material-icons md-48 div_icon_cl"
                       style="font-size: 20px;color:#1dc9cb">movie</i>

                </div>
                <div class="col-lg-1 col-md-1 interest_icon_class">
                    <i title="Nature Care" class="material-icons md-48 div_icon_cl"
                       style="font-size: 20px;color:#1dc9cb">local_florist</i>

                </div>
                <div class="col-lg-1 col-md-1 interest_icon_class">
                    <i title="Travelling" class="material-icons md-48 div_icon_cl"
                       style="font-size: 20px;color:#1dc9cb">train</i>

                </div>
                <div class="col-lg-1 col-md-1 interest_icon_class">
                    <i title="Reading Books" class="material-icons" style="font-size: 20px;color:#1dc9cb">
                        local_library
                    </i>

                </div>


            </div>


            <div class="container row">
                <h5>Achievment</h5>
                <p>Won theme based photograph contest in cllege</p>

            </div>
            <div class="row">
                <div class="col-lg-1 col-md-6 social_icon_class">
                    <img style="cursor:pointer"
                         onclick="window.open('https://www.facebook.com/ku.alok777', '_blank')"
                         title="Facebook" src="https://img.icons8.com/color/36/000000/facebook-circled.png">
                </div>

                <div class="col-lg-1 col-md-6 social_icon_class">
                    <img title="LinkedIn" src="https://img.icons8.com/color/36/000000/linkedin.png">
                </div>
                <div class="col-lg-1 col-md-6 social_icon_class">
                    <img title="Twitter" src="https://img.icons8.com/color/36/000000/twitter.png">
                </div>
                <div class="col-lg-1 col-md-6 social_icon_class">

                    <img style="cursor:pointer" onclick="window.open('https://github.com/alokyadav777', '_blank')"
                         title="Github" src="https://img.icons8.com/color/36/000000/github.png">


                </div>
                <div class="col-lg-1 col-md-6 social_icon_class">
                    <img title="alokyadav495@gmail.com" src="https://img.icons8.com/nolan/36/000000/google-plus.png">
                </div>

            </div>

        </div>
        <div class="col-lg-5 col-md-4 col-sm-6">
            <div>
                <div class="row">
                    <center><h4>About Me</h4></center>
                </div>
                <p class="about_us_profile_bio">
                    AMBIVERT is the apt word that describes my personality well. Adventurous, fun loving, sociable and
                    friendly . A straight shooter who speaks her mind. Basic interest lies in WRITING. It is something
                    that give me a sense of relief. Quite an optimistic person ,always searching for light in dark. New
                    ideas and informations are always welcomed. A MYSTERY within.
                     Python geek and also little freek.


                </p>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 about_us_image_div">
            <img class="about_us_image_class" title="Aalok Kumar" src="{%static 'social_media/images/alok_kumar.jpg' %}">
        </div>
    </div>


</div>


{% endblock %}

{% include 'social_media_footer.html' %}

