{% include 'navbar_base.html' %}

{% load static %}
{% block body %}

<body style="background-color:#f4f8fa">

<div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style align-left display-2">Newly Added</h2>
        <div class="row row-content justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">


                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/01-1.jpg" title="" alt="">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">$420,000 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <br>$734 / sq m</h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="text-box">
                        <h4 class="card-title2 mbr-fonts-style mbr-normal display-7">Summer Apartment</h4>
                        <div class="ico-box">
                            <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                            <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">New York, &nbsp;Willis Avenue</p>
                        </div>
                    </div>
                    <div class="p-box">
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">700 sq m
                            <br>2 Bathrooms
                            <br>
                        </p>
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">Rooms 4
                            <br>&nbsp;
                            <br>
                        </p>
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">2&nbsp;Bedrooms
                            <br>
                            <br>
                        </p>
                    </div>

                    <div class="ico-wrap">
                        <div class="ico-box">
                            <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-user"></span>
                            <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Tom Wilson</p>
                        </div>

                        <div class="ico-box">
                            <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                            <p class="mbr-text pr-2 mbr-fonts-style phone mbr-normal display-4">23.10.18</p>
                        </div>

                    </div>


                </div>
            </div>


            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/02-1.jpg" title="" alt="">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">$330,000 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <br>$568 / sq m</h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="text-box">
                        <h4 class="card-title2 mbr-fonts-style mbr-normal display-7">Hi-Tech Apartment&nbsp;</h4>
                        <div class="ico-box">
                            <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                            <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Las Vegas, &nbsp;32 Street</p>
                        </div>
                    </div>
                    <div class="p-box">
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">600 sq m
                            <br>1 Bathrooms
                            <br>
                        </p>
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">Rooms 2
                            <br>&nbsp;
                            <br>
                        </p>
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">1&nbsp;Bedrooms
                            <br>
                            <br>
                        </p>
                    </div>

                    <div class="ico-wrap">
                        <div class="ico-box">
                            <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-user"></span>
                            <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Jane Smith</p>
                        </div>

                        <div class="ico-box">
                            <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                            <p class="mbr-text pr-2 mbr-fonts-style phone mbr-normal display-4">13.09.18</p>
                        </div>

                    </div>


                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/03-1.jpg" title="" alt="">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">$380,000 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <br>$654 / sq m</h4>

                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>

                        </div>
                    </div>

                    <div class="text-box">
                        <h4 class="card-title2 mbr-fonts-style mbr-normal display-7">Creative Apartment&nbsp;</h4>
                        <div class="ico-box">
                            <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                            <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">London, &nbsp;Summer Avenue</p>
                        </div>
                    </div>
                    <div class="p-box">
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">800 sq m
                            <br>1 Bathrooms
                            <br>
                        </p>
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">Rooms 3
                            <br>&nbsp;
                            <br>
                        </p>
                        <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">2 Bedrooms
                            <br>
                        </p>
                    </div>

                    <div class="ico-wrap">
                        <div class="ico-box">
                            <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-user"></span>
                            <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Ann Sterling</p>
                        </div>

                        <div class="ico-box">
                            <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                            <p class="mbr-text pr-2 mbr-fonts-style phone mbr-normal display-4">08.04.18</p>
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </div>
</body>

{% endblock %}