{% include 'base.html' %}

{% load static %}
{% block body %}


<section>
    <div class="container">
        <center><h3>Newly Added</h3></center>
        <div class="row row-content justify-content-center ngo_grid_view_container_div">

            <div class="card p-3 col-12 col-md-6 col-lg-4 custom_card_div_class">

                <div class="card-wrapper">
                    <div class="card-img">
                        <img class="ngo_grid_view_image_class" src="{% static 'image/ngo_view1.jpg' %}" title="" alt="">
                        <div class="card-box">
                        </div>
                    </div>

                    <div class="text-box row" style="padding:4%;">
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <i class="material-icons" style="font-size: 30px;color:#1dc9cb">location_on</i>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12"><b>Gandhinagar</b>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <b>Gujarat</b>
                        </div>
                    </div>

                    <div class="p-box" style="padding:1%:">
                        <p class="mbr-text mbr-fonts-style phone mbr-normal description_font_tag">The children Sneha
                            Balgruha's doors are always open to needy children from all over the country.
                            is program to support poor children a childhood they deserve.
                        </p>
                        <a href="">Read more.....</a>
                    </div>
                </div>
            </div>


            <div class="card p-3 col-12 col-md-6 col-lg-4 custom_card_div_class">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img class="ngo_grid_view_image_class" src="{% static 'image/ngo_view2.jpg' %}" title="" alt="">
                        <div class="card-box">
                        </div>
                    </div>

                    <div class="text-box row" style="padding:4%;">
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <i class="material-icons" style="font-size: 30px;color:#1dc9cb">location_on</i>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12"><b>Chennai</b>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <b>Tamilnadu</b>
                        </div>
                    </div>

                    <div class="p-box" style="padding:1%:">
                        <p class="mbr-text mbr-fonts-style phone mbr-normal description_font_tag">The children Sneha
                            Balgruha's doors are always open to needy children from all over the country.
                            is program to support poor children a childhood they deserve.
                        </p>
                        <a href="">Read more.....</a>
                    </div>
                </div>
            </div>


            <div class="card p-3 col-12 col-md-6 col-lg-4 custom_card_div_class">

                <div class="card-wrapper">
                    <div class="card-img">
                        <img class="ngo_grid_view_image_class" src="{% static 'image/ngo_view3.jpg' %}" title="" alt="">
                        <div class="card-box">
                        </div>
                    </div>

                    <div class="text-box row" style="padding:4%;">
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <i class="material-icons" style="font-size: 30px;color:#1dc9cb">location_on</i>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12"><b>Kolkata</b>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <b>West Bangal</b>
                        </div>
                    </div>

                    <div class="p-box" style="padding:1%:">
                        <p class="mbr-text mbr-fonts-style phone mbr-normal description_font_tag">The children Sneha
                            Balgruha's doors are always open to needy children from all over the country.
                            is program to support poor children a childhood they deserve.
                        </p>
                        <a href="">Read more.....</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</body>

{% endblock %}