<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Head Tag --->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/mobi_additional_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/mobi_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/mobi_style2.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/mobi_style3.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/mobirise-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobirise/icon_style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    {% block head %}

    {% endblock %}
</head>

<body>

<!--- Start Of Block Body --->

{% block body %}

{% endblock %}

</body>
</html>

<!--- End Of Html Tag --->