{% include 'base.html' %}

{% load static %}
<title>Sankalp</title>
{% block body %}


<body style="background-color:#f4f8fa">
<section style="margin-top:2%;">

    <!-- Another variation with a button -->


    <div class="row container search_container_div_class">
        <form method="post" action="">
            {% csrf_token %}
            <div class="col-sm-8 col-sm-offset-3"><input id="search_query_id" type="text" class="form-control ngo_search_input_class" placeholder="Seach NGO, State"></div>
<!--       <div class="col-lg-1">-->
<!--           <button class="search_query_class"><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">search</i></button></div>-->

        </form>

    </div>
</section>


<section class="features11 cid-qKSpeMafIm content_section_class" id="features11-d">


    <div class="container heading_container_div_class">
        <h3 class="mbr-section-title index_section_title pb-3 mbr-fonts-style align-center display-2"
            data-appselector=".mbr-section-title ">Featured Contribution Category</h3>

    </div>


    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-md-6 col-lg-3 row-item div_icon">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">local_hospital</i>
                        </center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Health Contribution</h4>
                    </center>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 row-item cc">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl"
                                   style="font-size: 48px;color:#1dc9cb">school</i></center>
                        <!--<img class ="mbr-iconfont" src="{% static 'images/health.png' %}">-->
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Educational Help</h4>
                    </center>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 row-item">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center div_icon_cl">
                        <center><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">pregnant_woman</i>
                        </center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Women
                        Empowerment</h4></center>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 row-item">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl"
                                   style="font-size: 48px;color:#1dc9cb">public</i></center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Public Welfare</h4>
                    </center>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 row-item">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">smoke_free</i>
                        </center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Smoking Cure</h4></center>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 row-item">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">nature_people</i>
                        </center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Environment Protection</h4>
                    </center>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 row-item">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">monetization_on</i>
                        </center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Donation</h4></center>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 row-item">
                <div class="wrapper">
                    <div class="card-img pb-3 align-center">
                        <center><i class="material-icons md-48 div_icon_cl" style="font-size: 48px;color:#1dc9cb">child_care</i>
                        </center>
                    </div>
                    <center><h4 class="mbr-fonts-style mbr-card-title align-center display-7">Children Protection</h4></center>
                </div>
            </div>
        </div>
    </div>

</section>


{% include 'social_media_footer.html' %}
<script>
$(document).ready(function(){
    $('#search_query_id').typeahead({
  source: {{search_suggestion | safe}}
});
});
</script>
{% endblock %}