label {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

#edit_profile_id{
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.edit_profile_class{

margin-top:10% !important;
}

.edit_section_class{

cursor:pointer;

}

.post_icon{
font-size:18px;
}

.news_post_image_class{
border-radius:5px;
}

.create-post .tools ul.publishing-tools li i:hover {
color:#27aae1;
}

